.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Blog li {
    list-style-type: none;

    a {
        text-decoration: none;
        &:active {
            color: blue;
        }
    }
}

